apiVersion: certmanager.k8s.io/v1alpha1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
  namespace: jmeter
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: darrich@microsoft.com
    privateKeySecretRef:
      name: letsencrypt-production
    http01: {}